<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="org.javahispano.javaleague"
        version="1.0.0">
    <name>javaleague</name>

    <description>
         Aplicación javaleague.
    </description>

    <author href="http://www.javahispano.org" email="javaleague@gmail.com">
        javahispano
    </author>

    <icon src="icons/lgo_small.png" width="70" height="70"/>
</widget>
